{% extends "base.html" %}

{% block title %}徵稿通知{% endblock %}

{% block content %}
<div id="BODY">
    <p align="justify">
    </p>
    <h1>
        <strong>第十九屆海峽兩岸資訊技術研討會徵文通知</strong>
    </h1>
    <br>

    　　為促進海峽兩岸資訊技術的學術交流，中央大學盛邀兩岸資訊技術領域專家學者於2017年11月28日－30日參加於中央大學所舉辦的第十九屆海峽兩岸資訊技術（CSIT2017）研討會，主題是智慧計算與數位學習。會議由中央大學與東南大學兩校校長擔任會議召集人。本次會議將徵求論文包含下列內容（但不僅侷限於此）：
    <p></p>
    <ul style="margin-left: 20%;">
        <li>人工智慧</li>
        <li>電腦網路</li>
        <li>網格計算與雲計算</li>
        <li>生物醫學工程</li>
        <li>大數據分析</li>
    </ul>
    <ul>
        <li>數位學習與學習科技</li>
        <li>無線網路與感測網路</li>
        <li>資料庫與資訊系統</li>
        <li>圖像影像處理</li>
        <li>機器學習</li>
    </ul>
    <ul>
        <li>物聯網</li>
        <li>軟體工程</li>
        <li>社群網路服務</li>
        <li>多媒體影音處理</li>
        <li>電路設計</li>
    </ul>
    <table width="480" border="0" align="center"></table>
    <p>&nbsp;</p>

    <p align="justify">
    </p>
    <h3>
        1、投稿要求
    </h3>
    <br>

    　　論文請使用中文簡體或繁體字撰寫，包括題目、作者姓名、作者單位、摘要、關鍵字、徵文和參考文獻。另附一頁作者資訊，包括作者姓名、單位、位址、電話、傳真、Email和簡歷。論文一律為A4單行雙欄排版，根據IEEE投稿規範的Word檔案格式，或採用PDF檔案以Email發送投稿。
    <p></p>
    <p>&nbsp;</p>
    <p>
    </p>
    <h3>
        2、投稿連絡人</h3><br>

    　王家慶教授 (Jia-Ching Wang) <br> 　中央大學資訊工程學系<br>
    　32001臺灣桃園市中壢區中大路300號<br> 　電話：(03)4227151 傳真：(03)4222681<br>
    　Email：jcw@csie.ncu.edu.tw
    <p>&nbsp;</p>
    <p></p>
    <h3>
        3、重要日期</h3><br>

    　截稿日期：2017年10月1日<br> 　會議時間：2017年11月28日－30日
    <p></p>
    <p>&nbsp;</p>
    <p align="right">
        中央大學籌備組<br> 2017年8月17日<br>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p></p>
</div>
{% endblock %}