{% extends "base.html" %}
{% block title %}第廿六屆海峽兩岸資訊技術研討會{% endblock %}
{% block content %}

<style>
    #CONTENT p{color: #000000}
    #CONTENT .group {height: 200px;}
    #left {width: 150px;float: left;}
    #right {width: 150px;float: right;}
    #CONTENT ul { margin: 0;font-size: smaller;}
    #CONTENT .group li{white-space: nowrap;list-style: none;}
</style>

<div id="BODY" style="padding-top: 2.5%; padding-right: 30%; padding-left: 5%; ">
    <h1><strong>組織名單</strong></h1>
    <div id="left">

        <div class="group">
            <h3><u>榮譽主席</u></h3>
            <ul>
                <li>周景揚 中央大學校長</li>
                <li>張廣軍 東南大學校長</li>
            </ul>
        </div>

        <div class="group">
            <h3><u>大會主席</u></h3>
            <ul>
                <li>李光華 中央大學副校長</li>
                <li>王保平 東南大學常務副校長</li>
            </ul>
        </div>

        <div class="group">
            <h3><u>議程主席</u></h3>
            <ul>
                <li>范國清 中央大學資訊電機學院院長</li>
                <li>羅軍舟 東南大學電腦科學與工程學院院長</li>
                <li>邱煥凱 中央大學資訊電機學院副院長</li>
                <li>李　偉 東南大學電腦科學與工程學院副院長</li>
                <li>王文俊 中央大學電機工程學系教授</li>
            </ul>
        </div>
    </div>

    <div id="right">
        <div class="group">
            <h3><u>議程委員</u></h3>
            <ul>
                <li>許富皓 中央大學資訊工程學系主任</li>
                <li>張嘉惠 中央大學資訊工程學系教授</li>
                <li>施國琛 中央大學資訊工程學系教授</li>
                <li>吳曉光 中央大學資訊工程學系教授</li>
                <li>孫敏德 中央大學資訊工程學系教授</li>
                <li>江振瑞 中央大學資訊工程學系教授</li>
                <li>洪炯宗 中央大學資訊工程學系教授</li>
                <li>張貴雲 中央大學資訊工程學系教授</li>
                <li>蔡宗翰 中央大學資訊工程學系教授</li>
                <li>蘇柏齊 中央大學資訊工程學系教授</li>
                <li>王家慶 中央大學資訊工程學系教授</li>
                <li>鄭旭詠 中央大學資訊工程學系教授</li>
                <li>王尉任 中央大學資訊工程學系副教授</li>
            </ul>

            <ul>
                <li>李柏磊 中央大學電機工程學系主任</li>
                <li>李進福 中央大學電機工程學系教授</li>
                <li>鄭國興 中央大學電機工程學系教授</li>
                <li>蔡宗漢 中央大學電機工程學系教授</li>
                <li>張鴻埜 中央大學電機工程學系教授</li>
                <li>蔡佩芸 中央大學電機工程學系教授</li>
                <li>凃文化 中央大學電機工程學系教授</li>
                <li>薛木添 中央大學電機工程學系副教授 </li>
                <li>傅家相 中央大學電機工程學系副教授</li>
                <li>陳正一 中央大學電機工程學系副教授 </li>
            </ul>

            <ul>
                <li>陳永芳 中央大學通訊工程學系主任</li>
                <li>張寶基 中央大學通訊工程學系教授</li>
                <li>林銀議 中央大學通訊工程學系教授</li>
                <li>張大中 中央大學通訊工程學系教授</li>
                <li>陳彥文 中央大學通訊工程學系教授</li>
                <li>胡誌麟 中央大學通訊工程學系副教授</li>
            </ul>

            <ul>
                <li>黃武元 中央大學網路學習科技研究所所長</li>
                <li>劉晨鐘 中央大學網路學習科技研究所教授</li>
                <li>陳德懷 中央大學網路學習科技研究所教授</li>
                <li>楊接期 中央大學網路學習科技研究所教授</li>
                <li>陳攸華 中央大學網路學習科技研究所教授</li>
                <li>吳穎沺 中央大學網路學習科技研究所副教授 </li>
            </ul>

            <ul>
                <li>曹玖新 東南大學計算機科學與工程學院教授 副院長 </li>
                <li>舒華忠 東南大學計算機科學與工程學院教授 副院長</li>
                <li>耿　新 東南大學計算機科學與工程學院教授 副院長</li>
                <li>程　光 東南大學計算機科學與工程學院教授</li>
                <li>龔　儉 東南大學計算機科學與工程學院教授</li>
                <li>陳漢武 東南大學計算機科學與工程學院教授</li>
                <li>汪　芸 東南大學計算機科學與工程學院教授</li>
                <li>李必信 東南大學計算機科學與工程學院教授 </li>
                <li>何潔月 東南大學計算機科學與工程學院教授 </li>
                <li>王紅兵 東南大學計算機科學與工程學院教授</li>
                <li>張敏靈 東南大學計算機科學與工程學院教授 計算機科學系主任 </li>
                <li>漆桂林 東南大學計算機科學與工程學院教授</li>
                <li>劉肖凡 東南大學計算機科學與工程學院副教授 計算機工程系主任</li>
                <li>楊冠羽 東南大學計算機科學與工程學院副教授 影響科學與技術系主任</li>
                <li>楊全勝 東南大學計算機科學與工程學院副教授</li>
                <li>宋愛波 東南大學計算機科學與工程學院副教授</li>
                <li>崇志宏 東南大學計算機科學與工程學院副教授</li>
                <li>楊　明 東南大學計算機科學與工程學院副教授 </li>
                <li>周衛平 東南大學計算機科學與工程學院副教授 </li>
                <li>劉胥影 東南大學計算機科學與工程學院副教授 </li>
            </ul>


            <ul>
                <li>李宣東 南京大學計算機科學與技術系主任</li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}