{% extends "base.html" %}
{% block title %}第廿六屆海峽兩岸資訊技術研討會{% endblock %}
{% block content %}

<div id="BODY" style="padding-top: 2.5%; padding-right: 5%; padding-left: 5%;">
    <h1>議程</h1>
    <h3>11月28日(星期二) 13:30~15:00</h3>
    <table width="800px" border="1px solid rgba(48, 98, 167, 0.61)" align="center">
        <tbody>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center" class="style5"><strong>研討會分組</strong></p>
                </td>
                <td width="110" bgcolor="#fff7d8">
                    <p align="center" class="style5"><strong>A1</strong></p>
                </td>
                <td width="110" bgcolor="#fff7d8">
                    <p align="center" class="style5"><strong>B1</strong></p>
                </td>
                <td width="110" bgcolor="#fff7d8">
                    <p align="center" class="style5"><strong>C1</strong></p>
                </td>
            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center" class="style5"><strong>地點</strong></p>
                </td>
                <td width="110">
                    <p align="center" class="style5"><strong>工程五館A203</strong></p>
                </td>
                <td width="110">
                    <p align="center" class="style5"><strong>工程五館A301</strong></p>
                </td>
                <td width="110">
                    <p align="center" class="style5"><strong>工程五館A302</strong></p>
                </td>
            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center"><strong>研討會主題</strong><strong></strong></p>
                </td>
                <td width="110">
                    <p align="center"><strong>通訊工程/電路設計</strong></p>
                </td>
                <td width="110">
                    <p align="center"><strong>多媒體處理/資訊安全</strong></p>
                </td>
                <td width="110">
                    <p align="center"><strong>醫療工程/深度學習</strong></p>
                </td>

            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5" class="style5">
                    <p align="center"><strong>主持人</strong><strong></strong></p>
                </td>
                <td width="110" class="style5">
                    <p align="center"><strong>徐 申</strong></p>
                    <p align="center"><strong>蘇柏齊</strong></p>
                </td>
                <td width="110" class="style5">
                    <p align="center"><strong>董永强</strong></p>
                    <p align="center"><strong>鄭旭詠</strong></p>
                </td>
                <td width="110" class="style5">
                    <p align="center"><strong>張自力</strong></p>
                    <p align="center"><strong>王家慶</strong></p>
                </td>

            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center"><strong>論文編號</strong></p>

                </td>
                <td width="110" valign="top">
                    <p align="center"><strong>A1-1<br>
                            A1-2<br>
                            A1-3<br>
                            A1-4<br>
                            A1-5<br></strong></p>
                </td>
                <td width="110" valign="top">
                    <p align="center"><strong>B1-1<br>
                            B1-2<br>
                            B1-3<br>
                            B1-4<br>
                            B1-5</strong></p>
                </td>
                <td width="110" valign="top">
                    <p align="center"><strong>C1-1<br>
                            C1-2<br>
                            C1-3<br>
                            C1-4<br>
                            C1-5</strong></p>
                </td>

            </tr>
        </tbody>
    </table>

    <h3>11月28日(星期二) 15:30~17:00</h3>
    <table width="800px" border="1px solid rgba(48, 98, 167, 0.61)" align="center">
        <tbody>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center" class="style5"><strong>研討會分組</strong></p>
                </td>
                <td width="110" bgcolor="#fff7d8">
                    <p align="center" class="style5"><strong>A2</strong></p>
                </td>
                <td width="110" bgcolor="#fff7d8">
                    <p align="center" class="style5"><strong>B2</strong></p>
                </td>
                <td width="110" bgcolor="#fff7d8">
                    <p align="center" class="style5"><strong>C2</strong></p>
                </td>
            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center" class="style5"><strong>地點</strong></p>
                </td>
                <td width="110">
                    <p align="center" class="style5"><strong>工程五館A203</strong></p>
                </td>
                <td width="110">
                    <p align="center" class="style5"><strong>工程五館A301</strong></p>
                </td>
                <td width="110">
                    <p align="center" class="style5"><strong>工程五館A302</strong></p>
                </td>
            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center"><strong>研討會主題</strong><strong></strong></p>
                </td>
                <td width="110">
                    <p align="center"><strong>資料處理工程</strong></p>
                </td>
                <td width="110">
                    <p align="center"><strong>資料傳輸工程</strong></p>
                </td>
                <td width="110">
                    <p align="center"><strong>資料庫工程/學習科技</strong></p>
                </td>
            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5" class="style5">
                    <p align="center"><strong>主持人</strong><strong></strong></p>
                </td>
                <td width="110" class="style5">
                    <p align="center"><strong>許卓明</strong></p>
                    <p align="center"><strong>莊永裕</strong></p>
                </td>
                <td width="110" class="style5">
                    <p align="center"><strong>蔣洪波</strong></p>
                    <p align="center"><strong>張貴雲</strong></p>
                </td>
                <td width="110" class="style5">
                    <p align="center"><strong>王紅兵</strong></p>
                    <p align="center"><strong>王尉任</strong></p>
                </td>

            </tr>
            <tr>
                <td width="120" bgcolor="#8ecaf5">
                    <p align="center"><strong>論文編號</strong></p>

                </td>
                <td width="110" valign="top">
                    <p align="center"><strong>A2-1<br>
                            A2-2<br>
                            A2-3<br>
                            A2-4<br>
                            A2-5<br>
                            A2-6<br></strong></p>
                </td>
                <td width="110" valign="top">
                    <p align="center"><strong>B2-1<br>
                            B2-2<br>
                            B2-3<br>
                            B2-4<br>
                            B2-5<br>
                            B2-6<br></strong></p>
                </td>
                <td width="110" valign="top">
                    <p align="center"><strong>C2-1<br>
                            C2-2<br>
                            C2-3<br>
                            C2-4<br>
                            C2-5</strong></p>
                </td>

            </tr>
        </tbody>
    </table>

</div>

{% endblock %}