{% extends "base.html" %}
{% block title %}第廿六屆海峽兩岸資訊技術研討會{% endblock %}
{% block content %}

<div id="BODY">
    <p align="justify">
    </p>
    <h1>
        <strong>第廿六屆海峽兩岸資訊技術研討會徵文通知</strong>
    </h1>
    <br>

    　　為促進海峽兩岸資訊技術的學術交流，中央大學盛邀兩岸資訊技術領域專家學者於 2024 年 11 月 11 日－11 月 16 日參加於中央大學所舉辦的第廿六屆海峽兩岸資訊技術（CSIT2024）研討會，本屆主題是「人工智慧驅動之永續科技」。會議由中央大學與東南大學兩校校長擔任會議召集人。本次會議將徵求論文包含下列內容範圍（但不僅限於此）論文：
    <p></p>
    <ul style="margin-left: 20%;">
        {% for topic in topics0 %}
            <li>{{ topic }}</li>   
        {% endfor %}
    </ul>
    <ul>
        {% for topic in topics1 %}
            <li>{{ topic }}</li>
        {% endfor %}
    </ul>
    <table width="480" border="0" align="center"></table>
    <p>&nbsp;</p>

    <p align="justify">
    </p>
    <h3>
        1、投稿要求
    </h3>
    <br>

    　　論文請使用中文簡體或繁體字撰寫，包括題目、作者姓名、作者單位、摘要、關鍵字、徵文和參考文獻。<b>另附一頁作者資訊</b>，包括作者姓名、單位、位址、電話、傳真、Email 和簡歷。論文一律為 A4 單行雙欄排版，根據 IEEE 投稿規範的 Word 檔案格式，或採用 PDF 檔案以 Email 發送投稿予投稿聯絡人，郵件標題請註明「2024海峽兩岸資訊技術研討會徵文」。
    <p></p>
    <p>&nbsp;</p>
    <p>
    </p>
    <h3>
        2、投稿連絡人</h3><br>
    　田婉君 行政專員 （中央大學資訊電機學院）<br>
    　320317 桃園市中壢區中大路300號 <br> 　電話：+886-3-4227151 ext. 35002 <br>　傳真：+886-3-4279094<br>
    　Email：small0601@cc.ncu.edu.tw
    <p></p>
    <h3>
        3、重要日期</h3><br>

    　截稿日期：2024 年 10 月 11 日<br> 　會議時間：2024 年 11 月 11 日－ 11 月 16 日
    <p></p>
    <p>&nbsp;</p>
    <p align="right">
        中央大學籌備組<br> 2024 年 9 月 2 日<br>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p></p>
</div>
{% endblock %}