<table border="1px solid rgba(48, 98, 167, 0.61)" align="center">
    <tbody>
        <tr>
            <td bgcolor="#ff9999">
                <p align="center">
                    <strong>時間/日期 </strong>
                </p>
            </td>
            <td bgcolor="#ff9999" colspan="4">
                <p align="center">
                    <strong>{{ day.date }}</strong>
                </p>
            </td>
        </tr>
        {% for event in day.events %}
        <tr>
            <td bgcolor="{{ event.titlecolor }}">
                <div align="center">
                    <strong>{{ event.time }}</strong>
                </div>
            </td>
            {% for subdescription in event.description %}
            <td colspan="{{ event.colspan }}" bgcolor="{{ event.bgcolor }}">
                {% for sentence in subdescription %}
                <p align="center">
                    <strong>{{ sentence }}</strong>
                </p>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>&nbsp;</p>